nav {
  margin-bottom: 20px;
}

.nav-home .nav-link h1 {
  color: white;
  padding-top: 2rem;
}

iframe {
  height: 565pt;
  padding-top: 2rem;
}


h1,
h2 {
  color: #343a40;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8f9fa;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #8b316f;
  margin-top: 0rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  margin-bottom: 2rem;
  background: #fff;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

ul {
  padding-left: 1.2rem;
}

.highlight {
  color: #0d6efd;
  font-weight: 600;
}

li {
  text-align: left;
}

.personal-section img {
  margin: 0.5rem;
  border-radius: 12px;
  transition: transform 0.2s;
}

.personal-section img:hover {
  transform: scale(1.05);
}

h4 {
  margin-top: 1rem;
}

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero img {
  border-radius: 50%;
  border: 4px solid #8b316f;
  transition: transform 0.3s;
}

.hero img:hover {
  transform: scale(1.05) rotate(2deg);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 1rem;
}

.hero p {
  font-size: 1.3rem;
  color: #555;
}

.btn-primary {
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.btn {
  background-color: #a84288;
  border: #8b316f;
  border-width: 20pt;
}

.btn:hover {
  background-color: #8b316f;
}

.projects,
.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.container {
  margin-bottom: 5rem;
}

.container-list {
  flex-direction: row;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 2px solid #8b316f;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
}

.highlight {
  font-weight: 600;
  color: #a84288;
}


.contact a {
  color: #a84288;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
  color: #8b316f;
}

ul {
  padding-left: 1.2rem;
}

.container>.card:last-child {
  margin-bottom: 5rem;
  /* pushes the footer down */
}